<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.mapper.EquipmentMapper" >
  <resultMap id="BaseResultMap" type="com.aaa.model.Equipment" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="brand" property="brand" jdbcType="VARCHAR" />
    <result column="production_id" property="productionId" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="check_date" property="checkDate" jdbcType="DATE" />
    <result column="effective_date" property="effectiveDate" jdbcType="DATE" />
    <result column="invoice_code" property="invoiceCode" jdbcType="VARCHAR" />
    <result column="check_department" property="checkDepartment" jdbcType="VARCHAR" />
    <result column="check_certificate_id" property="checkCertificateId" jdbcType="VARCHAR" />
    <result column="identified" property="identified" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="modify_time" property="modifyTime" jdbcType="DATE" />
  </resultMap>
  <select id="queryEquipmentByUserId" resultType="map">
    select * from t_equipment e left join t_resource r on e.id=r.ref_biz_id
    <trim prefix="where">
      <if test="userId != null and userId != ''">
        e.user_id=#{userId}
      </if>
    </trim>
  </select>
</mapper>