<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.mapper.MenuMapper" >
  <resultMap id="BaseResultMap" type="com.aaa.model.Menu" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="MENU_ID" property="menuId" jdbcType="BIGINT" />
    <result column="PARENT_ID" property="parentId" jdbcType="BIGINT" />
    <result column="MENU_NAME" property="menuName" jdbcType="VARCHAR" />
    <result column="PATH" property="path" jdbcType="VARCHAR" />
    <result column="COMPONENT" property="component" jdbcType="VARCHAR" />
    <result column="PERMS" property="perms" jdbcType="VARCHAR" />
    <result column="ICON" property="icon" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="CHAR" />
    <result column="ORDER_NUM" property="orderNum" jdbcType="DOUBLE" />
    <result column="CREATE_TIME" property="createTime" jdbcType="DATE" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="DATE" />
  </resultMap>
  <select id="queryOne" resultMap="BaseResultMap">
    SELECT * FROM `t_menu` where PARENT_ID=0
  </select>
  <select id="queryTwoOrThree" resultMap="BaseResultMap">
    SELECT * FROM `t_menu` where PARENT_ID=#{menuId}
  </select>
  <select id="queryMenusByMenuNameOrCreateTime" resultMap="BaseResultMap">
    select  *  from t_menu
    <trim prefix="where" suffixOverrides="and">
      <if test="menuName != null and menuName != ''">
        MENU_NAME like "%"#{menuName}"%" and
      </if>
      <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
        CREATE_TIME BETWEEN  #{startTime} and  #{endTime}
      </if>
    </trim>
  </select>



  <select id="queryInterface" resultType="map">
    SELECT m.* FROM `t_user` u
    left join t_user_role  ur on u.id=ur.USER_ID
    left join t_role r on ur.ROLE_ID=r.ROLE_ID
    left join t_role_menu rm on r.ROLE_ID=rm.ROLE_ID
    left join t_menu m on rm.MENU_ID=m.MENU_ID where parent_id=0 and
	u.username= #{username}
  </select>
</mapper>